OliMaster/OliMaster.Android/Web References/OliNailsService/OliService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OliService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.5:808/OliService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOliService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IOliService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IOliService_GetHelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorld" />
  </wsdl:message>
  <wsdl:message name="IOliService_GetHelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="IOliService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IOliService/GetData" message="tns:IOliService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOliService/GetDataResponse" message="tns:IOliService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IOliService/GetHelloWorld" message="tns:IOliService_GetHelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOliService/GetHelloWorldResponse" message="tns:IOliService_GetHelloWorld_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOliService" type="tns:IOliService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IOliService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHelloWorld">
      <soap:operation soapAction="http://tempuri.org/IOliService/GetHelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OliService">
    <wsdl:port name="BasicHttpBinding_IOliService" binding="tns:BasicHttpBinding_IOliService">
      <soap:address location="http://192.168.0.5:808/OliService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>